proxmox_endpoint  = "https://pve.example.lan:8006/api2/json"
proxmox_api_token = "terraform@pve!jam=replace-with-token-secret"
proxmox_insecure  = true

proxmox_node_name       = "pve"
template_vm_id          = 9000
datastore_id            = "local-lvm"
cloud_init_datastore_id = "local-lvm"

network_bridge = "vmbr0"
vlan_id        = null

cloud_init_username = "jam"
ssh_public_key_path = "~/.ssh/id_ed25519.pub"

k3s_node_name         = "jam-k3s-01"
k3s_node_vm_id        = 301
k3s_node_cpu_cores    = 4
k3s_node_memory_mb    = 8192
k3s_node_disk_size_gb = 80

k3s_node_ipv4_address = "192.168.1.50"
ipv4_prefix_length    = 24
ipv4_gateway          = "192.168.1.1"
dns_domain            = "home.arpa"
dns_servers           = ["192.168.1.1"]
